/*  your css code here. If applicable */
body{
  background-color: #A164DF;
}

#buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
button{
  background-color: #663399;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
}